/*=========== header menuの設定 ==========*/

/*モバイルとPCで表示に関するスタイル*/
.sp-only {
    display: block;
    /*モバイルでは表示*/
}

.pc-only {
    display: none;
    /*モバイルでは非表示*/
}

/*PC用のスタイル*/

@media screen and (min-width:820px) {
    .sp-only {
        display: none;
        /*PCでは非表示*/
    }

    .pc-only {
        display: block;
        /*PCでは表示*/
    }
}
.header {
    padding: 5px 4% 5px 4%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 3;
}
/*モバイルのみ表示*/

/*ハンバーガーメニューのスタイル*/
/*ハンバーガーメニュー*/
.gnav-toggle {
    position: relative;
    margin-top: 12px;
}

/*チェックボックスなどを非表示にする*/
.gnav-hidden {
    display: none;
}

/*アイコンのスペース*/
#gnav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

/*ハンバーガーの三本線を表現*/
#gnav-open span,
#gnav-open span::before,
#gnav-open span::after {
    content: '';
    position: absolute;
    height: 3px;
    /*線の太さ*/
    width: 25px;
    /*線の長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    cursor: pointer;
}

#gnav-open span::before {
    bottom: -8px;
}

#gnav-open span::after {
    bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#gnav-close {
    display: none;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/*チェックがついたら表示させる*/
#gnav-input:checked~#gnav-close {
    display: block;
    opacity: 0.5;

}

#gnav-input:checked~#gnav-content {
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

/*メニューの中身*/
#gnav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 70%;
    max-width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease-in-out;
    transform: translateX(-105%);
}

.gnav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    text-transform: uppercase;
    /*小文字、大文字の混在を大文字に統一*/
}

.gnav-item {
    margin: 10px;
    padding-bottom: 20px;
}

.gnav-item a {
    color: #fff;
    font-size: 12px;
    display: block;
    width: 200px;
    text-align: center;
}

/* PCのメニュー */

.gnav-sec span{
    font-size: 17px;
    font-weight: bold;
}
.gnav-sec a {
    font-size: 12px;
}
/*疑似要素で1行目のスタイル指定*/
.gnav-item a::first-line {
    font-size: 16px;
    font-weight: bold;
}

.gnav-item a:hover {
    color: #85a7cc;
}

.header__nav-list {
    list-style: none;
    display: flex;
}

.header__nav-item {
    margin: 0 15px 0 0;
    font-size: 14px;
}

.header__nav {
    margin: 0 1% 0 auto;
}
.title {
    padding: 0;
    font-size: 25px;
    font-weight: bold;
}
/* snsボタン */
.sns_button {
    float: left;
    box-shadow: inset 0 0 0 2px #333;
    border-radius: 100%;
    transition: all 280ms ease;
}

.sns_button a {
    display: table-cell;
    width: 44px;
    height: 44px;
    color: #555;
    text-align: center;
    vertical-align: middle;
    transition: all 280ms ease;
}

.sns_button i {
    font-size: 20px;
    vertical-align: middle;
}

.sns_button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    vertical-align: middle;
}

.sns_button:hover {
    box-shadow: inset 0 0 0 22px #fff;
}

.sns_button+.sns_button {
    margin: 0 0 0 12px;
}

.twitter:hover a {
    color: #1B95E0;
}

.instagram:hover a {
    color: #2b5c84;
}


/*====================================================================================
======================================================================================
======================================================================================*/
/* footerの設定 */
.footer__inner p{
    text-align: center;
}
.footer__inner a{
    margin: 0 auto; 
    text-align: center;
    color: antiquewhite;
}
.footer .footer-list {
    display: block;
    margin: 0 auto;
    list-style: none;
}

.footer .gyou{
    margin-top: 5px;
}

.footer .gyou-a{
    margin-top: 15px;
}

.footer .gyou-b{
    margin-top: 3px;
    margin-bottom: 15px;
}

.footer .syasinn{
    vertical-align: text-bottom;
}

.footer-title {
    font-size: 3em;
}

.footer-info {
    font-size: 0.9em;
}
.footer{
    color: white;
    background-color: #333;
}
.footer__inner {
    display: flex;
    color:#fff;
    padding-left: 0px;
}
.footer__inner li{
    margin:0;
    padding-inline-start: 0;
}
